<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Salesforce Login Suite" parallel="false">
    <test name="Salesforce Login Tests">
        <classes>
            <class name="tests.ValidLoginTest"/>
            <class name="tests.InvalidLoginTest"/>
        </classes>
    </test>
</suite>
